[submodule ".bash_it"]
	path = modules/bash-it
	url = https://github.com/seattle-beach/bash-it.git
[submodule "modules/pivotal_ide_prefs"]
	path = modules/pivotal_ide_prefs
	url = https://github.com/seattle-beach/pivotal_ide_prefs.git
[submodule "modules/vim-config"]
	path = modules/vim-config
	url = https://github.com/seattle-beach/vim-config.git
